body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1;
}

.textblock {
  background: transparent;
  border: none;
  resize: none;
  color: #032a36;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #032a36;
  border-radius: 0;
  border-bottom: 5px solid #032a36;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  justify-content: space-between;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #e6e6ff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.already-past {
  background-color: #c0c0e4;
  color: white;
}

.current-hour {
  background-color: #6d6d9c;
  color: white;
}

.future-time {
  background-color: #373758;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #032a36;
  color: #ffffff;
}

.saveBtn i:hover {
  font-size: 40px;
  transition: all .5s ease-in-out;
  color: #E9D8A6;
}

.legend {
  margin-bottom: 40px;
} 